body{
    font-family: Comic sans MS;
    text-align: center;
    background-color: antiquewhite;
    margin-top: 40px;
}

.quizContainer{
    background: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

button{
    padding: 10px 15px;  
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:disabled{
    background: gray;
    cursor: not-allowed;
}